h1 {
    color: red;
}

p {
    color: white;
}

label {
    color: green;
}

#container {
    background-color: teal;
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    padding: 30px 50px;
    border-radius: 8px;
    margin: 50px 100px;
}



button {
    color: yellow;
    font-size: 16px;
    border-radius: 8px;
    background-color: white;
    border-color: yellow;
    margin-top: 20px;
    margin-left: 100px;
}

input {
    border-radius: 4px;
}

#evens {
    color: blue;
}

#message {
    color: blue;
}